<nav class="navbar
            navbar-expand-sm
            navbar-dark
            bg-info
            justify-content-end">
  <ul class="navbar-nav">
    <%= render collapsible_links_partial_path %>
  </ul>
</nav>

