<div class="search-card">
  <div class="card" style="border: solid">
    <div class="card-body">
      <h5 class="card-title"><%= search.query %></h5>
      <p class="card-text">
        Диапазон цен: <%= search.min_price %> - <%= search.max_price %>
      </p>
    </div>
  </div>
</div>
