<% require 'pages_helper' %>

<%
 title 'Отслеживание товаров на Avito & Youla'
 meta_description 'Meta descriptions are useful for SEO purposes.'
 heading 'Отслеживание товаров на Avito & Youla'
%>

<div class="row">
  <div class="col-sm-8">
    <%= render home_page_partial_path %>
  </div>

  <div class="col-sm-4"></div>
</div>
