<% require 'pages_helper' %>

<%
 title 'Отслеживание товаров на Avito & Youla'
 meta_description 'отслеживание товаров avito youla'
 heading 'Отслеживание товаров на Avito & Youla'
%>

<div class="row">
  <%= render home_page_partial_path %>
</div>
