<div class='row w-100'>
  <div class="col-sm-4">
    <%= render 'layouts/home/new_search_row' %>
  </div>
  <div class="col-sm-8" id="searches">
    <%= render partial: 'layouts/searches/search',
               collection: @searches %>
  </div>
</div>
